<p-panel header="Pipes basicos" class="p-2">
  <h1>Pipes Básicos</h1>
  <p>
    Pipes incluidos en Angular - usualmente en el common module
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{nameLower | uppercase}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{nameUpper | lowercase}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{fullName | titlecase}}
    </p-card>
  </div>
</div>
